html {
    background: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  #navbar {
    transition: 0.5s ease-in-out;
  }
  
  nav {
    background: Transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 17%;
    transition: background 3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.644);
  }
  
  nav ul {
    list-style: none;
    margin: 2%;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 7%;
  }
  
  nav ul li {
    display: inline;
    margin: 0;
    margin-left: 18px;
    font-size: 13px;
    font-weight: bold;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  
  nav ul li a:hover {
    border-bottom: 1.5px solid #575757;
  }

  @media only screen and (max-width: 766px) {
    nav {
      
      background: Transparent;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 17%;
      transition: background 3s ease;
      
    }
    
    nav ul {
      list-style: none;
      margin: 2%;
      padding: 0;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-left: 7%;
    }
    
    nav ul li {
      display: inline;
      margin: 0;
      margin-left: 18px;
      font-size: 13px;
      font-weight: bold;
    }
    
    nav ul li a {
      text-decoration: none;
      color: #000000;
      text-transform: uppercase;
      font-family: sans-serif;
    }
    
    nav ul li a:hover {
      border-bottom: 1.5px solid #575757;
    }
  }

  .logo {
    width: 220px;
    height: auto;
  }
  
  .ul2 a {
    font-size: 11px;
    color: #8b939b;
    margin: 0px;
    padding: 0;
    margin-left: 10px;
    text-align: center;
  }
  
  .ul2 a:hover {
    border-bottom: 1.5px solid #8b939b;
  }
  
  .ul2-holder {
    display: inline;
    margin-left: 110px;
  }
  

  .text{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: calc(2px + 2vw);
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    animation: fadeInText 4s 2s ease-out forwards;
    list-style: none;
    position: relative;



}
  @keyframes scaleImage {
    100% {
        transform: scale(1);
    }
}

@keyframes fadeInText {
    100% {
        opacity: 1;
    }
}
.firstcontent {
  background: url(/img/reg.jpg)
    rgba(0, 0, 0, 0.3) no-repeat center center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 20%;
}

.firsttext {
  padding: 300px 0px 110px 110px;
  position: relative;
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

  
  .butt {
    width: 160px;
    height: 60px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    background: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 1px;
    color: rgb(196, 196, 196);
    transition: all 0.17s ease-in-out;
  }
  
  .butt:hover {
    background: #fff;
    color: #000;
  }

  
  .container {

    color: rgb(255, 255, 255);
    text-align: center;
  }


  li {
    display: inline-block;
    font-size: 1.3em;
    list-style-type: none;
    padding: 25px;
    text-transform: uppercase;
    
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  .emoji {
    display: none;
    padding: 1rem;
  }
  
  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }
    
  .butt1 {
    width: 160px;
    height: 60px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    background: none;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 1px;
    color: rgb(0, 0, 0);
    transition: all 0.17s ease-in-out;
    cursor: pointer;
  }
  
  .butt1:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  
  .secondcontent {
    background: url() no-repeat center center;
    padding-top: 50px;
    margin: 0px;
  }
  
  .secondtext {
    font-weight: lighter;
    padding: 150px 0px 80px 0px;
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
  }
  .cart-button-style {
    border-style: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 10em;
    padding: 1em 1em;
    margin: 0.5em;
    background: #7762ff;
    color: white;
    transition: background .5s;
    border-radius: 4px; 
}

.cart-button-style-two {
    border-style: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 10em;
    padding: 1em 1em;
    margin: 0.5em;
    background: white;
    color: #7762ff;
    transition: background .5s;
    border-radius: 4px; 
}

.cart-button-style:hover, #checkout:hover, #apply-promo:hover, .keep-shopping:hover {
    background: #62ff8e;
    color: white;
}

.cart-button-style:active, #checkout:active, #apply-promo:active, .keep-shopping:active {
    background: #ff6884;
    color: white;
}

.products {
    float: left;
    width: 23%;
    margin: 3% 1%;
    text-align: center;
    padding: 0 0 1% 0;
}

.products img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (max-width: 980px) {
    .products {
        width: 30%;
        text-align: center;
        margin: 1.66%;
    }
}

@media screen and (max-width: 790px) {
    .products {
        width: 47%;
        margin: 1% 1%;
    }
    
    #shop {
        margin: 5% 1%;
    }
}

@media screen and (max-width: 600px) {
    .products {
        width: 100%;
    }
    
    #shop {
        margin: 2% 0;
    }
}

#shop::after {
    content: '';
    display: block;
    clear: both;
}

.add-to-cart {
    display: block;
    margin: 1% auto;
    border-style: none;
    width: 10em;
    height: 3em;
    background: #62ff8e;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.add-to-cart:hover {
    background: #7762ff;
}

.add-to-cart:active {
    background: #62ff8e;
}

.slider {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
    background: white;
    transition: all 1s;
}

.slider.close {
    top: 100vh;
    height: 0;
}

#amount-controls {
    background: white;
    top: 90;
    right: 0;
}

#cart-amount-wrapper {
    background: white;
    padding: 1.5% 0 .5% 35%;
    border-radius: 10px;
}

#cart {
    text-align: left;
    margin: 3.5em 0.5em;
    padding: 0.5% 1.5%;
    overflow-y: scroll;
}

#total::before, #subtotal::before, .product-price::before, .cart-product-price::before, .cart-updated-product-price::before, #discountAmt::before {
    content: '$';
}

#cart #quantity-value {
    width: 45%;
}

.name-col {
  width: 40%;
}
.quantity-col {
  width: 5%;
}
.price-col {
  width: 15%;
}

.updated-price-col {
    width: 25%;
}

.update-col {
    width: 10%
}

.remove-col {
  width: 5%;
}

#update {
    border-style: none;
    text-transform: uppercase;
    padding: 2% 12px;
    width: 100%;
    height: 30px;
    background: #56ff6a;
    color: white;
    border-radius: 10px;
}

#update:hover {
    background: #f0ffe6;
    color: #56ff6a;
}

#update:active {
    background: #56f46a;
    color: white;
}

.remove {
    border-style: none;
    font-weight: bolder;
    padding: 2% 2.5%;
    width: 100%;
    height: 30px;
    background: #ff7b67;
    color: #fff1e7;
    border-radius: 10px;
}

.remove:hover {
    background: #fff1e7;
    color: #ff7b67;
}

.remove:active {
    background: #ff7b67;
    color: #f5f1e7;
}

#cart-products-wrapper {
    overflow-y: auto;
}

#cart-amount-wrapper {
    overflow-x: auto;
}

#promo {
    width: 10em;
    padding: 1em 1em;
    transition: background .5s;
    border-radius: 4px;
}

#apply-promo, #checkout, .keep-shopping {
    border-style: none;
    width: 10em;
    padding: 1em 1em;
    background: #7762ff;
    color: white;
    transition: background .5s;
    border-radius: 4px;
}
  .welcome{
    font-weight: lighter;
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: auto;
    width: 40%;
    padding: 10px;
    letter-spacing: 0.5px;
    text-align: center;
  }
  hr{
    width: 20%;
  }
  .thirdcontent {
    background: #000;
    padding-top: 80px;
    margin: 0;
    height: 90%;

  }
  
  .thirdtext {
    display: inline-block;
    padding: 0px 80px;
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    width: 28%;
    height: 200px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
  }
  .thirdtext h1 {
    padding: 0px 0px;
    font-size: 36px;
    word-spacing: 2px;
    font-weight: lighter;
  }

  .thirdtext p {
    font-size: 18px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }
  
  .Venue-vid {
    display: inline-block;
    margin: 0px 0px 50px 0px;
    height: 60%;
    width: 50%;

  
  }
  @media only screen and (max-width: 911px){
    .Venue-vid {
      width: 50%;
      height: 100px;
      
    
    }
  }
  .fourthcontent {
    background: url(img/Reception.jpeg)
      rgba(0, 0, 0, 0.6) no-repeat center center;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
    margin: 0;
  }
  
  .fourthtext {
    padding: 180px 160px 80px 0px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    text-align: right;
    font-weight: lighter;
  }
  
  .fourthtext p {
    font-size: 16px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }
  
  .foot {
    display: flex;
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: center;
    margin-left: 10%;
  }
  
  .foot li {
    text-align: center;
    margin-left: 2%;
    font-size: 12px;
    font-weight: 500;
    font-family: sans-serif;
  }
  
  .author {
    font-size: 12px;
    color: #8b939b;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    text-align: center;
  }
  
  .author a {
    text-decoration: none;
    color: #ff939b;
    font-weight: 600;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    color: #bbb;
    transition-timing-function: ease-in;
    transition: 0.2s;
  }
  
  .extrapadding {
    visibility: hidden;
  }
  