html {
  background: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: scroll;
}
  
.firstContent {
  background: url(img/pexels-edward-jenner-4250572.jpg) no-repeat center center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 0px;
  margin: 0px;
}
.container {
  width: 300px;
  padding: 20px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #ccc;
}

h2 {
  text-align: center;
}

input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}