html {
    background: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
.boxForTinder{
  width: 100%;
  height: 100vh;
  overflow: hidden;

}
/*Body*/

.boxForTinder1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(0deg, rgb(255, 96, 54), rgb(253, 38, 122)) no-repeat;
  height: 100%}

  #swiper {
    height: 70vh;
    aspect-ratio: 2 / 3;
    perspective: 1100px;
    perspective-origin: center 50%;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    transform: translateZ(calc(-30px * var(--i))) translateY(calc(-20px * var(--i))) rotate(calc(-4deg * var(--i)));
    filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    user-select: none;
    transition: transform 0.5s;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  #like,
  #dislike {
    font-size: 16vh;
    border-radius: 50%;
    padding: 20px;
    position: relative;
    z-index: 1;
    animation-name: animation1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    /* don't run animation at the beginning */
    animation-play-state: paused;
  }
  
  #like.trigger,
  #dislike.trigger {
    animation-name: animation2;
  }
  
  #like {
    color: red;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #dislike {
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  @keyframes animation1 {
  
    0%,
    100% {
      opacity: 0.2;
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes animation2 {
  
    0%,
    100% {
      opacity: 0.2;
    }
  
    50% {
      opacity: 1;
    }
  }


    

  
  .butt1:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  
  .secondcontent {
    background: url() no-repeat center center;
    padding-top: 50px;
    margin: 0px;
  }
  
  .secondtext {
    font-weight: lighter;
    padding: 150px 0px 80px 0px;
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
  }

  .thirdcontent {
    background:url(img/match.png)no-repeat center center;
    background-position: center;

    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
}

  
  .thirdtext {
    display: inline-block;
    padding: 0px 80px;
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    width: 28%;
    height: 200px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
  }
  .thirdtext h1 {
    padding: 0px 0px;
    font-size: 36px;
    word-spacing: 2px;
    font-weight: lighter;
  }

  .thirdtext p {
    font-size: 18px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }
    .middlecontent {
    background: #000;
    padding-top: 80px;
    margin: 0;
    height: 90%;

  }
  
  .middletext {
    display: inline-block;
    padding: 0px 80px;
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    width: 28%;
    height: 200px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
  }
  .middletext h1 {
    padding: 0px 0px;
    font-size: 36px;
    word-spacing: 2px;
    font-weight: lighter;
  }

  .middletext p {
    font-size: 20px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }

  .fourthcontent {
    background: url(img/Tj\ and\ elysha.jpg)
      rgba(0, 0, 0, 0.6) no-repeat center center;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
    margin: 0px 0px;
  }
  
  .fourthtext {
    width: 80%;
    padding: 180px 0px 80px 0px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 125px;
  }
  
  .fourthtext p {
    margin: 0px 0px;
    font-size: 18px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }
  .fifthcontent{
    background: url(img/BO.jpg)
    rgba(0, 0, 0, 0.6) no-repeat center center;
  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 40px;
  margin: 0px 0px;

  }


  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  
    --black: #242424;
    --white: #f5f5f5;
    --pill: #e0d4be;
    --red: #cc033f;
  }
  
  ul {
    list-style: none;
  }
  
  .page-wrap {
    position: relative;
  }
  
  header {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  /*  NAV: Top Menu Section
    ----------------------------------------------- */
  nav {
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 1em 5em;
    display: flex;
    justify-content: space-between;
  }
  
  nav h1 {
    font-size: clamp(1.2rem, 6vw, 3rem);
    font-weight: normal;
    text-transform: uppercase;
    color: var(--pill);
    font-size: 1.3rem;
    background-color: var(--red);
    padding: 5px 10px;
  }
  
  nav ul {
    display: flex;
    color: var(--white);
  }
  
  nav ul li:not(#burger) {
    visibility: hidden;
    margin-right: 1.5em;
  }
  
  #burger {
    width: min-content;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  #burger span {
    display: block;
    height: 3px;
    width: 22px;
    background-color: var(--red);
    border-radius: 200px;
    transition: transform 0.3s 0.3s;
  }
  
  .active span:nth-of-type(1) {
    transform: translateY(-3px) scaleX(1.3);
  }
  
  .active span:nth-of-type(3) {
    transform: translateY(3px) scaleX(1.3);
  }
  
  /*  MAIN: Slider Section
    ----------------------------------------------- */
  main {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  article {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--i);
  }
  
  .hero-info {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 8;
  }
  
  .hero-info h2 {
    font-size: clamp(2rem, 9vw, 5rem);
    line-height: clamp(2rem, 9vw, 5rem);
    text-transform: uppercase;
  }
  
  .hero-info h1 {
    color: var(--white);
    font-size: clamp(3.2rem, 10vw, 7rem);
    line-height: clamp(3.2rem, 10vw, 7rem);
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }
  
  .hero-info h3 {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 2em;
  }
  
  @supports (-webkit-text-stroke: 3px var(--pill)) {
    .hero-info h2 {
      color: transparent;
      -webkit-text-stroke: 3px var(--pill);
      text-shadow: none;
    }
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  
  .hi-1 {
    background-image: url("img/1st\ date.jpg");
  }
  .hi-2 {
    background-image: url("img/Teatatu.jpg");
  }
  
  .hi-3 {
    background-image: url("img/1date.jpeg");
  }
  
  .hi-4 {
    background-image: url("img/Xmas.jpeg");
  }
  
  .hi-5 {
    background-image: url("img/Lake\ hawea.jpg");
  }
  
  section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    min-height: 100vh;
    padding: 8em 5em 2em 5em;
    background-color: var(--white);
    background-image: url("https://www.transparenttextures.com/patterns/church.png");
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  
  .level-1 {
    display: grid;
    grid-template-columns: 65% 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2em;
  }
  
  .level-1 h3 {
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  
  .level-1 p {
    margin: 0.5em 0 0 0.5em;
  }
  
  .level-1 p small {
    font-size: 1rem;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .level-1 p small:hover {
    opacity: 1;
    color: var(--red);
  }
  
  .level-1 ul>li {
    font-size: 1.2rem;
    padding: 0.3em;
    transition: color 0.3s;
  }
  
  .level-1 ul>li:hover {
    color: var(--red);
    cursor: pointer;
  }
  
  .level-1 li:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/4;
  }
  
  .level-1 li:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  .level-1 li:nth-of-type(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  .level-1 li:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  
  .level-2 {
    padding: 0.3em 1em;
  }
  
  .level-2 li p {
    color: var(--red);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1em 0;
    text-transform: uppercase;
    border-bottom: 1px solid #ce8600;
  }
  
  .level-3 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .level-3 li {
    padding: 0.5em 1em !important;
    background-color: var(--pill);
    border-radius: 500px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1rem !important;
    cursor: pointer;
    color: var(--black);
  }
  
  @media screen and (max-width: 600px) {
    nav {
      padding: 1em 2em;
  
    }
  
    nav h1 {
      font-size: 0.9rem;
    }
  
    section {
      padding: 8em 2em 2em 2em;
    }
  
    .level-1 {
      grid-template-columns: 1fr;
    }
  
    .level-1 li:nth-of-type(1) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  
    .level-1 li:nth-of-type(2) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  
    .level-1 li:nth-of-type(3) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  
    .level-1 li:nth-of-type(4) {
      grid-column: 1/2;
      grid-row: 4/5;
    }
  
    nav ul {
  
      color: var(--white);
    }
  
    nav ul li:not(#burger) {
      visibility: hidden;
      margin-right: 1.5em;
    }
  
    #burger {
      width: min-content;
      height: 28px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      cursor: pointer;
    }
  
    #burger span {
      display: block;
      height: 3px;
      width: 22px;
      background-color: var(--red);
      border-radius: 200px;
      transition: transform 0.3s 0.3s;
    }
  
  }
  

  .firsttext {
    padding: 0px 0px 0px 0px;
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: Didot;
    font-size: 28px;
    font-weight: lighter;
  
  }
  
  .butt {
    width: 160px;
    height: 60px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    background: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 1px;
    color: rgb(196, 196, 196);
    transition: all 0.17s ease-in-out;
  
  }
  
  .butt:hover {
    background: #fff;
    color: #000;
  }
  
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
  
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
  
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }
  
  .butt1 {
    width: 160px;
    height: 60px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    background: rgba(145, 145, 145, 0.171);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 1px;
    color: rgb(0, 0, 0);
    transition: all 0.17s ease-in-out;
    cursor: pointer;
    margin: 50px;
  
  
  }
  
  .butt1:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  
  .secondcontent {
    background: url(img/beaut.jpg) no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    padding: 80px;
  
  }
  
  .secondtext {
    padding: 0px 0px 0px 0px;
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-family: 'Sunnyletter', sans-serif;
  
    font-size: 100px;
    text-align: center;
    margin: 0px;
    font-weight: 100;
  
  }

  
  hr {
    margin: 20px;
    width: 90%;
    align-items: center;
    justify-content: center;
    align-content: center;
  
  
  }
  
  @media all and (max-width: 768px) {
    .secondcontent {
      background: url(img/beaut.jpg) no-repeat center cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 60px;
  
    }
  
    .secondtext {
  
      padding: 10px 0px 50px 0px;
      position: relative;
      z-index: 2;
      color: rgb(0, 0, 0);
      font-family: 'Sunnyletter', sans-serif;
      font-size: 80px;
      text-align: center;
      margin: 0px;
  
    }

  
    .thirdcontent {
      background: #000;
      padding-top: 80px;
      margin: 0px 0px;
      height: 90%;
  
    }
  
    .butt1 {
      margin: 20px;
      width: 160px;
      height: 60px;
      font-size: 14px;
      font-family: sans-serif;
      font-weight: 600;
      background: none;
      border: 3px solid rgb(0, 0, 0);
      border-radius: 1px;
      color: rgb(0, 0, 0);
      transition: all 0.17s ease-in-out;
      cursor: pointer;
  
  
    }
  
    .butt1:hover {
      background: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }
  }

  
  .thirdtext h1 {
    padding: 0px 0px;
    font-size: 46px;
    word-spacing: 2px;
    font-weight: lighter;
  }
  
  .thirdtext p {
    font-size: 20px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
    padding: 25px 0px;
  }

  
  @media all and (max-width: 768px) {
    .thirdtext {
      padding: 0px 0px;
      position: relative;
      z-index: 2;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: 20px;
      width: 100%;
      height: 80%;
      justify-items: center;
      justify-content: center;
      align-items: center;
      font-weight: lighter;
    }
  
    .thirdtext h1 {
      padding: 0px 80px;
      font-size: 20px;
      word-spacing: 2px;
      font-weight: lighter;
      text-align: center;
      width: 100%;
  
    }
  
    .thirdtext h2 {
      padding: 10px 0px;
      font-size: 15px;
      word-spacing: 2px;
      font-weight: lighter;
      justify-items: center;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80%;
      text-align: center;
    }
  
    .thirdtext p {
      padding: 20px;
      font-size: 20px;
      font-family: Barlow;
      text-transform: none;
      word-spacing: 2px;
      font-weight: lighter;
      width: 100%;
      height: 80%;
    }
  
    .butt {
      width: 160px;
      height: 60px;
      font-size: 14px;
      font-family: sans-serif;
      font-weight: 600;
      background: none;
      border: 3px solid rgb(255, 255, 255);
      border-radius: 1px;
      color: rgb(196, 196, 196);
      transition: all 0.17s ease-in-out;
      text-align: center;
      top: 0;
      right: 100px;
      margin: 20px 30%;
  
    }
  
    .butt:hover {
      background: #fff;
      color: #000;
    }
  }
  
  
  
  .fourthcontent {
    background: url(img/Tj\ and\ elysha.jpg) rgba(0, 0, 0, 0.6) no-repeat center center;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 140px;
    margin: 10px 0px 0px 0px;
  }
  
  .fifthcontent {
    background: url() rgba(0, 0, 0, 0.6) no-repeat center center;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
    height: 800px;
    margin: 0px 0px 80px 0px;
  }
  
  .fifthtext {
    padding: 120px 160px 80px 80px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    text-align: Left;
    font-weight: lighter;
  }
  
  .fifthtext p {
    font-size: 25px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }
  
  .foot {
    display: flex;
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: center;
    margin-left: 10%;
  }
  
  .foot li {
    text-align: center;
    margin-left: 2%;
    font-size: 22px;
    font-weight: 500;
    font-family: sans-serif;
  }
  
  .author {
    font-size: 12px;
    color: #8b939b;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    text-align: center;
  }
  
  .author a {
    text-decoration: none;
    color: #ff939b;
    font-weight: 600;
  }
  
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  a:hover {
    color: rgb(255, 66, 66);
    transition-timing-function: ease-in;
    transition: 0.2s;
  }
  
  .extrapadding {
    visibility: hidden;
  }
  
  @media all and (max-width: 768px) {
    .fourthcontent {
      background: url(img//Tj\ and\ elysha.jpg) rgba(0, 0, 0, 0.6) no-repeat center center;
      background-blend-mode: multiply;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding-top: 140px;
      margin: 0px 0px 0px 0px;
    }
  
    .fourthtext {
      padding: 20px 20px;
      position: relative;
      z-index: 2;
      color: #fff;
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: 20px;
      text-align: center;
      font-weight: lighter;
    }
  

  
    .fifthcontent {
      background: url(img/unplugged.jpeg) rgba(0, 0, 0, 0.6) no-repeat center center;
      background-blend-mode: multiply;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding-top: 40px;
      height: 800px;
      margin: 0px 0px 80px 0px;
    }
  
    .fifthtext {
      padding: 20px 60px;
      position: relative;
      z-index: 2;
      color: #fff;
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: 20px;
      text-align: center;
      font-weight: lighter;
    }
  
    .fifthtext p {
      font-size: 18px;
      font-family: Barlow;
      text-transform: none;
      word-spacing: 2px;
      font-weight: lighter;
    }
  
    .foot {
      display: flex;
      color: #fff;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 30px;
      padding-bottom: 0px;
      text-align: center;
      margin-left: 0%;
      width: 100%;
    }
  
    .foot li {
      text-align: center;
      margin-left: 0%;
      font-size: 22px;
      font-weight: 500;
      font-family: sans-serif;
      width: 100%;
    }
  
    .author {
      font-size: 12px;
      color: #8b939b;
      margin: 0;
      padding: 0;
      margin-left: 10px;
      text-align: center;
    }
  
    .author a {
      text-decoration: none;
      color: #ff939b;
      font-weight: 600;
    }
  
    a {
      text-decoration: none;
      color: #fff;
    }
  
    a:hover {
      color: rgb(211, 10, 10);
      transition-timing-function: ease-in;
      transition: 0.2s;
    }
  
    .extrapadding {
      visibility: hidden;
    }
  }