

.firsttext {
  padding: 300px 0px 110px 110px;
  position: relative;
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.container {
  background: url(img/Web-00462.jpg) rgba(0, 0, 0, 0.3) no-repeat center center;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  color: #000000;
  text-align: center;
}


.container h1 {
  font-weight: normal;
  font-size: 80px;
  letter-spacing: .125rem;
  font-family: 'Pinyon Script', sans-serif;                                    
  padding: 30px;
  margin: 0px
}

.container li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 2em;
  text-transform: uppercase;
}

.container li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  .container {
    background: url(img/Web-00462.jpg) rgba(0, 0, 0, 0.3) no-repeat center center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: #000000;
    text-align: center;
  }


  .container h1 {
    font-weight: 500;
    font-size: 50px;
    letter-spacing: .125rem;
    font-family: 'Pinyon Script', sans-serif;    
    padding: 30px;
    margin: 10px
  }
  
  .container li {
    display: inline-block;
    font-size: 12px;
    list-style-type: none;
    padding: 10px;
    text-transform: uppercase;
  }
  
  .container li span {
    display: block;
    font-size: 20px;
  }
}
@media all and (max-width: 568px){
.container h1 {
  font-weight: 500;
  font-size: 30px;
  letter-spacing: .125rem;
  font-family: 'Pinyon Script', sans-serif;    
  padding: 30px;
  margin: 10px
  }
    
  .container li {
    display: inline-block;
    font-size: 12px;
    list-style-type: none;
    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .container li span {
    display: block;
    font-size: 20px;
  }
}
@media (max-width: 689px){
.container {
    background: url(img/Web-00462.jpg) rgba(0, 0, 0, 0.3) no-repeat center center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 400px;
    color: #000000;
    text-align: center;
  }
}



.contact-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}

.left-col {
  width: 55vw;
  height: 100%;
  background-image: url("img/matakana\ 1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.right-col {
  background: var(--bg-color);
  width: 50vw;
  height: 100vh;
  padding: 5rem 3.5rem;
}

.logo {
  width: 10rem;
  padding: 1.5rem;
}

button {
  text-transform: uppercase;
  font-weight: 300;
  background: #000;
  color: white;
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

input:hover,
textarea:hover,
button:hover {
  opacity: 0.5;
}

button:active {
  opacity: 0.8;
}

/* Toggle Switch */



.description {
  margin-left: 1.25rem;
}

.text-rsvp h1 {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-family: Barlow;
  text-transform: none;
  word-spacing: 3px;
  font-weight: lighter;

}

.text-rsvp p {
  color: #020202;
  font-size: 20px;
  font-family: Barlow;
  text-transform: none;
  word-spacing: 3px;
  font-weight: lighter;

}



@media only screen and (max-width: 1150px) {
  .logo {
    width: 8rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  p {
    font-size: 0.7rem;
  }

  input,
  textarea,
  button {
    font-size: 0.65rem;
  }

  .description {
    font-size: 0.3rem;
    margin-left: 0.4rem;
  }

  button {
    width: 7rem;
  }

  .contact-container {
    display: flex;
    width: 100vw;
    height: 95vh;
    background: var(--bg-color);
  }

  .left-col {
    width: 55vw;
    height: 95vh;
    background-image: url("img/matakana\ 1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }

  .right-col {
    background: var(--bg-color);
    width: 50vw;
    height: 95vh;
    padding: 20px;
    padding: 5rem 3.5rem;
  }

  .text-rsvp h1 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 3px;
    font-weight: lighter;

  }

  .text-rsvp p {
    color: #020202;
    font-size: 20px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 3px;
    font-weight: lighter;
    width: 45vw;
    height: auto;
    padding: 5px;


  }
}

@media only screen and (max-width: 950px) {
  .logo {
    width: 8rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  p {
    font-size: 0.7rem;
  }

  input,
  textarea,
  button {
    font-size: 0.65rem;
  }

  .description {
    font-size: 0.3rem;
    margin-left: 0.4rem;
  }

  button {
    width: 7rem;
  }

  .theme-switch-wrapper {
    width: 120px;
  }

  .theme-switch {
    height: 28px;
    width: 50px;
  }

  .theme-switch input {
    display: none;
  }

  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 20px;
    height: 20px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }

  input:checked+.slider:before {
    transform: translateX(16px);
  }

  .slider.round {
    border-radius: 15px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .contact-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
  }

  .left-col {
    width: 55vw;
    height: 100vh;
    background-image: url("img/matakana\ 1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }

  .right-col {
    background: var(--bg-color);
    width: 50vw;
    height: 100vh;
    padding: 5rem 3.5rem;
  }

  .text-rsvp h1 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 3px;
    font-weight: lighter;

  }

  .text-rsvp p {
    color: #020202;
    font-size: 15px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 3px;
    font-weight: lighter;
    width: 40vw;
    height: auto;


  }

  @media all and (max-width: 768px) {
    .logo {
      width: 5rem;
    }

    h1 {
      font-size: 1.75rem;
    }

    p {
      font-size: 0.7rem;
    }

    input,
    textarea,
    button {
      font-size: 0.65rem;
    }

    .description {
      font-size: 0.3rem;
      margin-left: 0.4rem;
    }

    button {
      width: 7rem;
    }




    .contact-container {
      display: flex;
      width: 100vw;
      height: 110vh;


    }

    .left-col {
      width: 0%;
      height: 0%;
      background-image: url("img/matakana\ 1.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      visibility: hidden;



    }

    .left-col1 {
      width: 100%;
      height: 20%;
      background-image: url("img/matakana\ 1.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 50px;
      visibility: visible;


    }

    .right-col {
      background: var(--bg-color);
      width: 100%;
      height: 95vh;
      padding: 2rem 1.5rem;
    }

    .text-rsvp h1 {
      color: rgb(10, 10, 10);
      font-size: 40px;
      font-family: Barlow;
      text-transform: none;
      word-spacing: 3px;
      font-weight: lighter;

    }

    .text-rsvp {
      padding: 10px;

    }

    .text-rsvp p {
      color: #020202;
      font-size: 15px;
      font-family: Barlow;
      text-transform: none;
      word-spacing: 2px;
      font-weight: lighter;
      width: 100%;




    }
    .trademark {
      width: 100%;
      height: 100%;
    }
    .trademark img{
  
      height: 100%;
    }
  }
}

.secondtext {
  font-weight: lighter;
  padding: 150px 0px 80px 0px;
  position: relative;
  z-index: 2;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.fourthcontent {
  background: url(img/Reception.jpeg) rgba(0, 0, 0, 0.6) no-repeat center center;
  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  margin: 0;
}

.fourthtext {
  padding: 180px 160px 80px 0px;
  position: relative;
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 20px;
  text-align: right;
  font-weight: lighter;
}

.fourthtext p {
  font-size: 16px;
  font-family: Barlow;
  text-transform: none;
  word-spacing: 2px;
  font-weight: lighter;
}

.foot {
  display: flex;
  color: #fff;
  list-style: none;
  margin: 0px 0px;
  padding: 0px 30px;
  padding-bottom: 50px;
  text-align: center;
  word-spacing: 2px;
}
/*MAIN*/
.foot li {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding: 30px 50px;
  font-family: sans-serif;
}
/*MAIN*/
.author {
  font-size: 1px;
  color: #ffffff;
  margin: 0px 10px;
  padding: 0px;
  margin-left: 10px;
  text-align: center;
}
/*MAIN*/
.author a {
  text-decoration: none;
  color: #f7f7f7;
  font-weight: 600;
}
/*MAIN*/
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/*MAIN*/
a:hover {
  color: rgb(128, 128, 128);
  transition-timing-function: ease-in;
  transition: 0.2s;
}
/*MAIN*/
.extrapadding {
  visibility: hidden;
}

.trademark {
  width: 25%;
  height: 100%;
}
.trademark img{
  width: 50%;
  height: 100%;
}

html {
  background: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  --black: #242424;
  --white: #f5f5f5;
  --pill: #e0d4be;

}

ul {
  list-style: none;
}

.page-wrap {
  position: relative;
}

header {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/*  NAV: Top Menu Section
    ----------------------------------------------- */
nav {
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 1em 5em;

  display: flex;
  background: #000000;
  justify-content: space-between;

}

nav h1 {
  font-size: clamp(1.2rem, 6vw, 3rem);
  font-weight: normal;
  text-transform: uppercase;
  color: var(--white);
  font-size: 1.3rem;
  background-color: black;
  /*Change on  mobile */
  padding: 5px 10px;
}

nav ul {
  display: flex;
  color: var(--white);
}

nav ul li:not(#burger) {
  visibility: hidden;
  margin-right: 1.5em;
}

#burger {
  padding: 5px 5px;
  /*Change on  mobile */
  width: min-content;
  height: 32px;
  /*Change on  mobile */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  background: black;
  /*Change on  mobile */



}

#burger span {
  display: block;
  height: 2px;
  /*Change on  mobile */
  width: 22px;
  background-color: var(--white);

  transition: transform 0.3s 0.3s;
}

.active span:nth-of-type(1) {
  transform: translateY(1px) scaleX(1.0);
}

.active span:nth-of-type(2) {

  -ms-transform: rotate(20deg);
  /* IE 9 */
  transform: rotate(90deg) scaleX(0.7) translateY(0px) translateX(5.5px);
}

.active span:nth-of-type(3) {
  transform: translateX(3px) scaleX(0.3);
}

.active span:nth-of-type(4) {
  transform: translateY(2.5px) translateX(5px) scaleX(0.6);
}

/*  MAIN: Slider Section
    ----------------------------------------------- */
main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

article {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--i);
}

.hero-info {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 8;
}

.hero-info h2 {
  font-size: clamp(2rem, 9vw, 5rem);
  line-height: clamp(2rem, 9vw, 5rem);
  text-transform: uppercase;
}

.hero-info h1 {
  color: var(--white);
  font-size: clamp(3.2rem, 10vw, 7rem);
  line-height: clamp(3.2rem, 10vw, 7rem);
  text-transform: uppercase;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.hero-info h3 {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 2em;
}

@supports (-webkit-text-stroke: 3px var(--pill)) {
  .hero-info h2 {
    color: transparent;
    -webkit-text-stroke: 3px var(--pill);
    text-shadow: none;
  }
}

.hero-image {
  width: 100%;
  height: 100%;
  background-size: cover;

  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hi-1 {
  background-image: url("img/Hero3.jpg");
  background-position: center;
}

.hi-2 {
  background-image: url("img/Last-hero-banner.jpg");
  background-position: top;
}

.hi-3 {
  background-image: url("img/Hero-6.jpg");
}

@media screen and (max-width: 600px){
.hi-1 {
  background-image: url("img/Hero3.jpg");
  background-position: 25% !important;
}
.hi-2 {
  background-image: url("img/hero3-3.jpg");
  background-position: 20% !important;
  }
  .hi-3 {
    background-image: url("img/Hero-6.jpg");
    background-position: 60% !important;
  }
  .hero-info {
    position: absolute;
    top: 80%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 8;
  }
  
  .hero-info h2 {
    font-size: clamp(2rem, 9vw, 5rem);
    line-height: clamp(2rem, 9vw, 5rem);
    text-transform: uppercase;
  }
  
  .hero-info h1 {
    color: var(--white);
    font-size: clamp(3.2rem, 10vw, 7rem);
    line-height: clamp(3.2rem, 10vw, 7rem);
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }
  
  .hero-info h3 {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 2em;
  }
}

section {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  min-height: 100vh;
  padding: 10em 5em 2em 5em;
  background-color: var(--white);
  background-image: url("https://www.transparenttextures.com/patterns/church.png");
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.level-1 {
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-auto-rows: min-content;
  grid-gap: 2em;
}

.level-1 h3 {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.level-1 p {
  margin: 0.5em 0 0 0.5em;
}

.level-1 p small {
  font-size: 1rem;
  opacity: 0.5;
  cursor: pointer;
}

.level-1 p small:hover {
  opacity: 1;
  color: var(--black);
}

.level-1 ul>li {
  font-size: 1.2rem;
  padding: 0.3em;
  transition: color 0.3s;

}

.level-1 ul>li:hover {
  color: var(--black);

}

.level-1 li:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1/4;
}

.level-1 li:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.level-1 li:nth-of-type(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.level-1 li:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 3/4;
}

.level-2 {
  padding: 0.3em 1em;
}

.level-2 li p {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1em 0;

  border-bottom: 1px solid #000000;
}

.level-3 {
  display: flex;
  flex-wrap: wrap;
}

.level-3 li {
  padding: 0.5em 1em !important;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1rem !important;
  color: black;
}

.level-3 li a {
  padding: 0.5em 1em !important;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1rem !important;
  cursor: pointer;
  color: black;
}

.level-4 {
  display: flex;
  flex-wrap: wrap;
}

.level-4 li {
  padding: 0.5em 1em !important;
  margin-right: 10px;
  margin-bottom: 10px;
  color: var(--white);
}

@media screen and (max-width: 600px) {
  nav {
    padding: 1em 2em;

  }

  nav h1 {
    font-size: 0.9rem;
  }

  section {
    padding: 8em 2em 2em 2em;
  }

  .level-1 {
    grid-template-columns: 1fr;
  }

  .level-1 li:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .level-1 li:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .level-1 li:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .level-1 li:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  nav ul {

    color: var(--white);
  }

  nav ul li:not(#burger) {
    visibility: hidden;
    margin-right: 1.5em;
  }

  #burger {
    width: min-content;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
  }

  #burger span {
    display: block;
    height: 2px;
    /*Change on  mobile */
    width: 22px;
    background-color: var(--white);
    /*Change on  mobile */

    transition: transform 0.3s 0.3s;
  }

}


.firsttext {
  padding: 0px 0px 0px 0px;
  position: relative;
  z-index: 2;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: Didot;
  font-size: 28px;
  font-weight: lighter;

}


hr {
  margin: 20px;
  width: 90%;
  align-items: center;
  justify-content: center;
  align-content: center;


}

@media all and (max-width: 768px) {
  .secondcontent {
    background: url(img/beaut.jpg) no-repeat center cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0px;

  }

  .secondtext {

    padding: 10px 0px 50px 0px;
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-family: 'Sunnyletter', sans-serif;
    font-size: 80px;
    text-align: center;
    margin: 0px;

  }


  hr {
    margin: 20px;
    width: 70%;
    align-items: center;
    justify-content: center;
    align-content: center;


  }

  .thirdcontent {
    background: #000;
    padding-top: 80px;
    margin: 0px 0px;
    height: 90%;

  }

  .butt1 {
    margin: 20px;
    width: 160px;
    height: 60px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    background: none;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 1px;
    color: rgb(0, 0, 0);
    transition: all 0.17s ease-in-out;
    cursor: pointer;


  }

  .butt1:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
}

.thirdcontent {
  background: #000;
  padding-top: 80px;
  margin: 0px 0px;
  height: 90%;

}

.thirdtext {
  display: inline-block;
  padding: 0px 100px;
  position: relative;
  z-index: 2;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
  height: 200px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
}




@media all and (max-width: 768px) {
  .trademark {
    width: 50%;
    height: 100%;
  }

  .trademark img {
    width: 50%;
    height: 50%;
  }

}




.fourthcontent {
  background: url(img/Reception.jpeg) rgba(0, 0, 0, 0.6) no-repeat center center;
  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 140px;
  margin: 0px 0px 0px 0px;
}

.fourthtext {
  padding: 180px 160px 80px 0px;
  position: relative;
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 20px;
  text-align: right;
  font-weight: lighter;
}

.fourthtext p {
  font-size: 25px;
  font-family: Barlow;
  text-transform: none;
  word-spacing: 2px;
  font-weight: lighter;
}

.fifthcontent {
  background: url(img/unplugged.jpeg) rgba(0, 0, 0, 0.6) no-repeat center center;
  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 40px;
  height: 800px;
  margin: 0px 0px 80px 0px;
}

.fifthtext {
  padding: 120px 160px 80px 80px;
  position: relative;
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 20px;
  text-align: Left;
  font-weight: lighter;
}

.fifthtext p {
  font-size: 25px;
  font-family: Barlow;
  text-transform: none;
  word-spacing: 2px;
  font-weight: lighter;
}


.foot {
  display: flex;
  color: #fff;
  list-style: none;
  margin: 0px 0px;
  padding: 50px 30px;
  padding-bottom: 50px;
  text-align: center;
  word-spacing: 2px;
  background: #000;
}

.foot li {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding: 0px 30px;
  font-family: sans-serif;
}

/*MAIN*/
.author {
  font-size: 1px;
  color: #ffffff;
  margin: 0px 10px;
  padding: 0px;
  margin-left: 10px;
  text-align: center;
}

/*MAIN*/
.author a {
  text-decoration: none;
  color: #f7f7f7;
  font-weight: 600;
}

/*MAIN*/
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*MAIN*/
a:hover {
  color: rgb(128, 128, 128);
  transition-timing-function: ease-in;
  transition: 0.2s;
}

/*MAIN*/
.extrapadding {
  visibility: hidden;
}

/*TABLET VERSION*/
@media all and (max-width: 944px) {
  .fourthcontent {
    background: url(img/matakana-outside.jpg) rgba(0, 0, 0, 0.6) no-repeat center center;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
    margin: 0px 0px 0px 0px;
  }

  /*TABLET VERSION*/
  .fourthtext {
    padding: 20px 20px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
  }

  /*TABLET VERSION*/
  .fourthtext p {
    font-size: 18px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }

  /*TABLET VERSION*/
  .fifthcontent {
    background: url(img/unplugged.jpeg) rgba(0, 0, 0, 0.6) no-repeat center center;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
    height: 567px;
    margin: 0px 0px 50px 0px;
    /*Change on  mobile */
  }

  /*TABLET VERSION*/
  .fifthtext {
    padding: 20px 60px;
    position: relative;
    z-index: 2;
    /*Change on  mobile */
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
  }

  /*TABLET VERSION*/
  .fifthtext p {
    font-size: 18px;
    /*Change on  mobile */
    font-family: Barlow;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }

  /*TABLET VERSION*/
  .foot {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    list-style: none;
    margin: 0;
    /*Change on  mobile */
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
  }

  /*TABLET VERSION*/
  .foot li {
    text-align: center;
    padding: 0px 0px 10px 0px;
    /*Change on  mobile */
    font-size: 5px;
    font-weight: 500;
    font-family: sans-serif;
  }

  /*TABLET VERSION*/
  .author {
    font-size: 10px;
    color: #ffffff;
    margin: 10px 5px;
    padding: 0;
    margin-left: 0px;
    text-align: center;
  }

  /*TABLET VERSION*/
  a {
    text-decoration: none;
    color: #fff;
  }

  /*TABLET VERSION*/
  a:hover {
    color: rgb(128, 128, 128);
    transition-timing-function: ease-in;
    transition: 0.2s;
  }

  /*TABLET VERSION*/
  .extrapadding {
    visibility: hidden;
  }
}

/*TABLET VERSION*/
@media all and (max-width: 944px) {
  .fourthcontent {
    background: url(img/matakana-outside.jpg) rgba(0, 0, 0, 0.6) no-repeat center center;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
    margin: 0px 0px 0px 0px;
  }

  .fourthtext {
    padding: 20px 20px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
  }

  .fourthtext p {
    font-size: 18px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }

  .fifthcontent {
    background: url(img/unplugged.jpeg) rgba(0, 0, 0, 0.6) no-repeat center center;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
    height: 567px;
    margin: 0px 0px 50px 0px;
    /*Change on  mobile */
  }

  .fifthtext {
    padding: 20px 60px;
    position: relative;
    z-index: 2;
    /*Change on  mobile */
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
  }

  .fifthtext p {
    font-size: 18px;
    /*Change on  mobile */
    font-family: Barlow;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }

  .foot {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    list-style: none;
    margin: 0;
    /*Change on  mobile */
    padding: 0;
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;

  }

  .foot li {
    text-align: center;
    padding: 0px 0px 10px 0px;
    /*Change on  mobile */
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
  }

  .author {
    font-size: 20px;
    color: #ffffff;
    margin: 10px 5px;
    padding: 0;
    margin-left: 0px;
    text-align: center;
  }


  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover {
    color: rgb(128, 128, 128);
    transition-timing-function: ease-in;
    transition: 0.2s;
  }

  .extrapadding {
    visibility: hidden;
  }

  .trademark {
    width: 100%;
    height: 100%;
  }

  .trademark img {
    width: 40%;
    height: 50%;
  }

}